/* 전체 페이지 */
.mypage-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 프로필 카드 */
.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
  border: 3px solid #007bff;
  padding: 20px;
  text-align: center;
}

/* 프로필 아이콘 스타일 */
.mypage-profile-icon {
  margin-top: 0px; /* 아이콘을 프로필 카드 위에 위치 */
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}

.user-icon {
  font-size: 120px;
  color: #007bff;
}

/* 사용자 이름 스타일 */
.mypage-header-section {
  margin-top: 10px;
  background-color: transparent;
  color: #007bff;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

/* 사용자 정보 */
.mypage-content {
  padding: 20px;
  width: 100%;
}

.mypage-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* 정보 스타일 */
.mypage-details p {
  font-size: 1em;
  margin: 8px 0;
  color: #333;
  display: flex;
  align-items: center;
}

.mypage-details p strong {
  margin-left: 8px;
  color: #007bff;
}

.icon {
  margin-right: 8px;
  color: #007bff;
  font-size: 1.2em;
}

/* 상태 아이콘 */
.status-icon {
  margin-right: 8px;
  font-size: 1em;
}

/* 온라인 상태 */
.online {
  color: #28a745;
}

/* 오프라인 상태 */
.offline {
  color: #6c757d;
}

/* 반응형 스타일 */
@media (max-width: 350px) {
  .mypage-container {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }

  .mypage-content {
    padding: 20px;
  }
}
